.account-wrapper{
    height: 80vh;
    width: 80%;
    background-color: #1f1f1f;
    border-radius: 30px;
    box-shadow: 0 0 20px #468c73;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    overflow: hidden;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.acc-title{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 4vh;
}

.data-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 5vw;
    height: 60%;
}

.acc-buttons{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin: 10px 50px;
    height:5vh;
    padding-bottom: 2vh;
}

.acc-btn{
    background-color: #376d5a;
    border-radius: 30px;
    height: 100%;
    color:white;
    font-weight: bold;
    padding: 10px 20px;
    font-size:2vh;
    border:none;
}

.acc-btn:hover{
    background-color: #468c73;
    transition:all 0.2s;
    text-shadow: 5px white;
}

.cart-item{
    margin-left:8%;
    width:80%;
    height: 6vh;
    padding: 10px 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #343434;
    border-radius: 20px;
}

.item-dropdown{
    border-radius: 20px;
    height:4vh;
    right:0;
}

#price{
    margin-top:1.5vh;
    margin-right: 2vw;
}


