.filter-container {
    background-color: #eee;
    padding: 10px;
    display: flex;
    width:80%;
    align-items: justify;
}
  
.dropdown-filter{
    width:12.5%;
    
}

.filter{
    margin-right:0.5vw;
    background-color: #555555;
    border-radius: 50px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.filter:hover{
    background-color: #666666;
    /*box-shadow: 0 0 10px #468c73;/**/
    transition: all ease-in-out 0.2s;
}

.datepicker-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(transparent 70%, white 70%);
    background-position: right center;
    background-size: 200% 220%;
    margin-left: 1.5vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.date-filter{
    position: relative;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    margin: 0vh 0;
    left:-1.2vw;
    color:#eee;
}

input.date-filter::-webkit-calendar-picker-indicator {
    background-color: #468c73;
    /* Add other styles as needed */
  }

.start-date{
    transform: translateY(-0.5vh);
}

.end-date{
    transform: translateY(0.5vh);
}

#date-label{
    margin-top:1.5vh;
    font-size: 14px;
    font-weight: bold;
    color: #EEEE;
    margin-left: 4px;
    text-shadow: 0 0 10px black;
}

.search-bar {
    background-color: #eeee;
    width: 20%;
    padding: 5px;
    border-radius: 50px;
    box-sizing: border-box;
    margin-left: auto;
    box-shadow: 0 0 10px black;
}
  
.events-container {
    padding: 20px;
    background-color: #EEEE;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
}

.event {
    color:white;
    height: 30vh;
    position: relative;
    background-color: #1f1f1f;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-bottom:5vh;
    padding: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 30px #468c73a6;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    overflow: hidden;
}

.event:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    transition: all 0.3s;
}

.wishlist-btn{
    position: absolute;
    right:1vw;
    z-index: 10;
    font-size: 24px;
}

.delete-btn{
    position: absolute;
    right:1vw;
    z-index: 10;
    font-size: 16px;
    color: red;

}

.delete-btn:hover{
    color: white !important;
    transition: 0.2s;
}

.event-data{
    display: flex;
    flex-direction: column;
    width:40%;
    position: relative;
    height: 110%;
}

.event-info{
    bottom:1vh;
    position: absolute;
    width: 100%;
}

.event-title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin: 2% 0;
}

.event-info-data{
    display: block;
    font-style: italic;
    font-size: 14px;
}

.event-details{
    height:100%;
}

.event-description{
    
}

.see-more-button{
    border: 2px white;
    background-color: rgb(36, 72, 60);
    color: #EEEE;
    border-radius: 50px;
    position:absolute;
    bottom: 1vh;
    right: 1vw;
    height: 5vh;
    width: 10vw;
    cursor: pointer;
}

.see-more-button:hover{
    background-color: #468c73;
    transition: all 0.3s;
}


.event-img{
    height:100%;
    width:100%;
    position: absolute;
    left:-10px;
    top:-10px;
    object-fit: cover;
}

.event-img img{
    content: fill;
}

.dropdown-filter{
    color: white
}

.filter-info{
    color:#727272;
    padding-top:10px;
}
