body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #313131; /* Dark gray background color */
}



.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh; /* 8% of the viewport height */
    background-color: #1f1f1f;
    color: #fff;
    display: flex;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#animated-tickets {
    margin-left:2vw;
    position: relative;
    width: 6%;
    height: 100%;
    overflow: hidden;
    overflow-wrap:normal;   
    cursor: pointer;
  }
  
  #dark-ticket,
  #light-ticket {
    position: absolute;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    color:#EEEE;
    font-weight: bold;
    width: 60%;
    height: 100%;
    top:40%;
    background-color: rgb(70, 140, 115); /* Dark color for one ticket */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  #light-ticket {
    color:black;
    background-color: #ddd; /* Light color for the other ticket */
    left:20%;
    rotate: 20deg;
    text-align: center;
    box-shadow: 0 0 10px black;
  }
  
  #animated-tickets:hover #dark-ticket {
    transform: translateY(-20%); /* Move the dark ticket up on hover */
  }
  
  #animated-tickets:hover #light-ticket {
    transform: translateY(-10%); /* Move the light ticket up on hover */
  }


.header-text {
    height: 100%;
    padding-left: 1vw;
    bottom: 0;
    height: 100%;
    font-size: 4.5vh;
    font-weight: bold;
    display: flex;
  align-items: flex-end;
}

.header-menu {
  background-color: none;
  padding: 10px;
  padding-top: 0;
  padding-left: 4vw;
  flex-grow: 1;
}

.top-menu {
  list-style-type: none;
  width: 100%;
  height: 100%;
  top:0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.top-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  padding: 0 2vw 1vh 2vw;
  font-size: 26px;
  cursor: pointer;
  height: 100%;
  position: relative;
}

/* Show the highlight on hover */
.top-menu-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 40%;
  background: radial-gradient(ellipse farthest-side at 50% 60%, rgba(154, 196, 181,0.8) 20%,rgba(70, 140, 115, 0.8) 40%, rgba(255, 255, 255, 0) 70%);
  opacity: 0; 
  transition: opacity 0.3s;
  z-index: -2;
}

.top-menu-item:hover span {
  transform: translateY(-80%);
  transition: all 0.5s;
  text-shadow: 1vw 2.2vh 5px #1f1f1f; /* Adjust the shadow as needed */
  z-index: 6;
}

/* Show the highlight on hover */
.top-menu-item:hover::before {
  opacity: 1;
}

.right-top-menu {
  margin-left: auto;
}






.hidden{
  display: none;
}

