body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #313131; /* Dark gray background color */
}

.body-wrapper{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  top: 14vh;
  padding: 1vh 4vw;
}

.container{
  background-color: transparent;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    background-color: #1f1f1f;
    color: #fff;
    display: flex;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#animated-tickets {
    margin-left:2vw;
    position: relative;
    width: 6%;
    height: 100%;
    overflow: hidden;
    overflow-wrap:normal;   
    cursor: pointer;
  }
  
  #dark-ticket,
  #light-ticket {
    position: absolute;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    color:#EEEE;
    font-weight: bold;
    font-size: 0.9vw;
    width: 60%;
    height: 100%;
    top:40%;
    background-color: rgb(70, 140, 115); /* Dark color for one ticket */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  #light-ticket {
    color:black;
    background-color: #ddd; /* Light color for the other ticket */
    left:20%;
    rotate: 20deg;
    text-align: center;
    box-shadow: 0 0 10px black;
  }
  
  #animated-tickets:hover #dark-ticket {
    transform: translateY(-20%); /* Move the dark ticket up on hover */
  }
  
  #animated-tickets:hover #light-ticket {
    transform: translateY(-10%); /* Move the light ticket up on hover */
  }


.header-text {
  height: 100%;
  padding-left: 1vw;
  bottom: 0;
  height: 100%;
  font-size: 4.5vh;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}

.header-menu {
  background-color: none;
  padding: 10px;
  padding-top: 0;
  padding-left: 4vw;
  flex-grow: 1;
}

.top-menu {
  list-style-type: none;
  width: 100%;
  height: 100%;
  top:0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.top-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  padding: 0 2vw 1vh 2vw;
  font-size: 26px;
  cursor: pointer;
  height: 100%;
  position: relative;
}

/* Show the highlight on hover */
.top-menu-item:hover:before {
  content: '';
  position: absolute;
  left: 10%;
  width: 80%;
  bottom:-1%;
  height: 5%;
  background: linear-gradient(to left, rgba(70, 140, 115, 0) 0%, rgba(70, 140, 115, 1) 100%);
  animation: gradientAnimation 0.2s;
  z-index: -1;
}

@keyframes gradientAnimation {
  0% {
    background-image: linear-gradient(to left, rgba(70, 140, 115, 0) 90%, #468c73 10%);
  }
  10% {
    background-image: linear-gradient(to left, rgba(70, 140, 115, 0) 78%, rgba(70, 140, 115, 1) 22%);
  }
  20% {
    background-image: linear-gradient(to left, rgba(70, 140, 115, 0) 69%, rgba(70, 140, 115, 1) 31%);
  }
  30% {
    background-image: linear-gradient(to left, rgba(70, 140, 115, 0) 56%, rgba(70, 140, 115, 1) 44%);
  }
  40% {
    background-image: linear-gradient(to left, rgba(70, 140, 115, 0) 48%, rgba(70, 140, 115, 1) 52%);
  }
  50% {
    background-image: linear-gradient(to left, rgba(70, 140, 115, 0) 40%, rgba(70, 140, 115, 1) 60%);
  }
  60% {
    background-image: linear-gradient(to left, rgba(70, 140, 115, 0) 32%, rgba(70, 140, 115, 1) 68%);
  }
  70% {
    background-image: linear-gradient(to left, rgba(70, 140, 115, 0) 24%, rgba(70, 140, 115, 1) 76%);
  }
  80% {
    background-image: linear-gradient(to left, rgba(70, 140, 115, 0) 16%, rgba(70, 140, 115, 1) 84%);
  }
  90% {
    background-image: linear-gradient(to left, rgba(70, 140, 115, 0) 8%, rgba(70, 140, 115, 1) 92%);
  }
  100% {
    /* Intentionally left empty as the final state is set in :hover::before */
  }
}


.top-menu-item:hover span {
  color:rgba(70, 140, 115, 1);
  transition: all 0.2s;
}

.top-menu-item:hover::before {
  opacity: 1;
  transition: all 0.3s;
}

.right-top-menu {
  margin-left: auto;
}

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #468c73; /* Change the color of the scrollbar thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  z-index: -10; /* Change the color of the scrollbar track */
}

/* For Firefox */
/* Note: Mozilla Firefox currently only supports color changes */
/* You can't change the width or style of the scrollbar in Firefox */
* {
  scrollbar-color: #468c73 #eeee;
}




.hidden{
  display: none;
}

