/* Updated styles.css */
body {
    animation: pulsate 1.5s infinite alternate;
}
@keyframes pulsate {
    from {
        box-shadow: inset 0 -60px 120px rgba(70, 140, 115, 0.2);
    }
    to {
        box-shadow: inset 0 -60px 120px rgba(83, 161, 134, 0.4);
    }
}


.glow-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    height:20vh;
    display: flex;
    background-color: #313131;
    z-index: 2;
    box-shadow: 0 0 100px 40vh #313131;
}


.login-container {
    background-color: #1f1f1f;
    padding: 20px 30px 20px 30px;
    border-radius: 15px; 
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.4); 
    display: flex;
    z-index: 10;
    flex-direction: row;
    position: relative;
    transition: flex 0.5s ease;
}



.login-text {
    top: 10px;
    left: 20px;
    font-size: 24px;
    color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: space-between;
    padding-right: 10px;
}
.login-text h1 {
    font-size: 4vh; 
    color: #fff;
}

.hidden{
    display: none;
}

#back-to-login{
    color: #FFFF;
    cursor: pointer;
}
#back-to-login:hover{
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.sign-up-text {
    font-size: 14px;
    color: #DDDD;
    margin-bottom: 10px; 
    cursor: pointer;
}
.sign-up-text:hover {
    color: #FFFF;
    transition: ease-in-out 0.15s;
}

.login-label{
    color: white;
}

.login-button{
    color: #fff;
    font-size: 18px;
    padding: 10px; 
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background-color: rgb(36, 72, 60);
    margin:10px 0 0 0;
    animation: glow 4s infinite;
}
@keyframes glow {
    0% {
        color: white;
        text-shadow: 0 0 12px rgba(255, 255, 255, 1);
    }
    25% {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 12px rgba(255, 255, 255, 1);
    }
    26% {
        color: rgb(180, 180, 180);
        text-shadow: 0 0 4px rgba(255, 255, 255, 1);
    }
    30% {
        color:rgb(255, 255, 255);
        text-shadow: 0 0 12px rgba(255, 255, 255, 1);
    }
    60% {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 12px rgba(255, 255, 255, 1);
    }
    61% {
        color: rgb(180, 180, 180);
        text-shadow: 0 0 4px rgba(255, 255, 255, 1);
    }
    65% {
        color:rgb(255, 255, 255);
        text-shadow: 0 0 12px rgba(255, 255, 255, 1);
    }
    67% {
        color: rgb(180, 180, 180);
        text-shadow: 0 0 4px rgba(255, 255, 255, 1);
    }
    71% {
        color:rgb(255, 255, 255);
        text-shadow: 0 0 12px rgba(255, 255, 255, 1);
    }
    100% {
        color: white;
        text-shadow: 0 0 12px rgba(255, 255, 255, 1);
    }
}


.login-button:hover{
    background-color: rgb(70, 140, 115);
    transition: 0.2s;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    right:10px;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 10px; 
    border-radius: 12px;
}

select {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
}

#wrong-credentials{
    color:white;
    background-color: rgb(70, 140, 115);
    width:100%;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 20px;
    word-wrap: break-word;
    text-align: center;
}



